/* here you can put your own css to customize and override the theme */

.big-status{
    height: 27.5em;
    position: relative;
}

.dashboard-stat .big-visual > i {
    margin-left: -35px;
    font-size: 12em;
    line-height: 358px;
}

.dashboard-stat .big-visual {
    width: 0px !important;
    height: 0px !important;
}

.big-status .details .number{
    font-size: 41px;
    line-height: 56px;
}

.buttons-stats {
    position: absolute;
    top: 101%;
    margin-top: -5em;
    margin-left: 2em;
}

.site-logo{
    padding-top: 6px;
    padding-bottom: 6px;
}
.site-logo img{
    width: 98%;
}

.popover .row{
    padding-left: 1em;
    padding-right: 1em;
}

/* Full width modal */
.modal-midlle.modal-dialog {
    width: 80%;
}

#dtActivities tr{
    text-align: center;
}

#dtActivities th{
    text-align: center;
}

.fa.yellow{
    color: #FCDB52
}

.fa.red{
   color: #F76058
}

.fa.green{
    color:  #6BBA50
}

.fa.blue{
  color: #4D77BF
}

#dtActivities .fa-map-marker{
    cursor: pointer;
}

.labels {
    color: green;
    background-color: transparent;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    /*border: 2px solid black;*/
    white-space: nowrap;
}
