<!--BEGIN MODAL MAP-->
<div id="modalTarifas" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title" id="titleModal">Cambiar tarifas</h3>
            </div>
            <form role="form" id="frmTarifas">
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-5">

                                <input type="hidden" name="idCliente" id="inpIdCliente"/>
                                <div class="form-group">
                                    <label for="inpBanderazo">Banderazo</label>
                                    <input type="text" class="form-control" name="banderazo" id="inpBanderazo"
                                           placeholder="$">
                                </div>
                                <div class="form-group">
                                    <label for="inpKm">Kilometro</label>
                                    <input type="text" class="form-control" name="km" id="inpKm" placeholder="$">
                                </div>
                                <div class="form-group">
                                    <label for="inpTarifaFija">Tarifa Fija</label>
                                    <input type="text" class="form-control" name="tarifaFija" id="inpTarifaFija" placeholder="$">
                                </div>
                                <div class="form-group">
                                    <label for="inpDescuento">Descuento</label>
                                    <input type="text" class="form-control" name="descuento" id="inpDescuento"
                                           placeholder="%">

                                </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">Cerrar</button>
                    <button type="submit" class="btn green">Guardar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!--END MODAL MAP-->

<div class="row">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Tarifas Estandar</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label id="lblEditarTarifas" class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                        <input type="radio" name="options" class="toggle" id="option1">Editar</label>
                                </div>
                            </div>

                        </div>
                        <div class="portlet-body" id="divTarifasEstandar">
                            <div class="row list-separated profile-stat">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="uppercase profile-stat-title" data-banderazo="$Banderazo" id="divBanderazo">
                                        $Banderazo
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Banderazo
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6" >
                                    <div class="uppercase profile-stat-title" id="divKm" data-km="$Km">
                                        $Km
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Km
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6" >
                                    <div class="uppercase profile-stat-title" id="divTarifaFija" data-tarifaFija="$TarifaFija">
                                        $TarifaFija
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Tarifa Fija
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="uppercase profile-stat-title" id="divDescuento" data-descuento="$Descuento">
                                        $Descuento
                                    </div>
                                    <div class="uppercase profile-stat-text">
                                        Descuento
                                    </div>
                                </div>
                            </div>

                            <table class="table table-hover table-light" id="tbTarifas">
                                <thead>
                                <tr class="uppercase">
                                    <th>
                                        idCliente
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Banderazo
                                    </th>
                                    <th>
                                        Km
                                    </th>
                                    <th>
                                        Tarifa fija
                                    </th>
                                    <th>
                                        Descuento
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- PAGE LEVEL PLUGINS -->
<script type="text/javascript"
        src="/static/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="/static/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript"
        src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
<script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/js/tarifas.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script type="text/javascript">
    $(document).ready(function () {
        Tarifas.consultar();

    });
</script>