<!--BEGIN MODAL MAP-->
<div id="mapModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title" id="titleModal">Ubicacion</h3>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="map" class="gmaps margin-bottom-40" style="width: 550px !important; height:  300px !important;" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL MAP-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i>Pedidos
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="table-actions-wrapper">
									<span>
									</span>
                        <select class="table-group-action-input form-control input-inline input-small input-sm">
                            <option value="">Selecciona...</option>
                            <option value="1">Canceladas</option>
                            <option value="2">Esperando</option>
                            <option value="3">Cerradas</option>
                        </select>
                        <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Enviar
                        </button>
                    </div>
                    <div class="row">

                        <div class="col-sm-offset-2 col-sm-3">
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                <input type="text" class="form-control form-filter input-sm" readonly=""
                                       name="order_date_from" placeholder="From">
                    											<span class="input-group-btn">
                    											<button class="btn btn-sm default" type="button"><i
                                                                        class="fa fa-calendar"></i></button>
                    											</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                <input type="text" class="form-control form-filter input-sm" readonly=""
                                       name="order_date_to" placeholder="To">
                    											<span class="input-group-btn">
                    											<button class="btn btn-sm default" type="button"><i
                                                                        class="fa fa-calendar"></i></button>
                    											</span>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-default btn-sm">Filtrar</a>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="dataTablePedidos">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">

                            </th>
                            <th width="10%">
                                Guia
                            </th>
                            <th width="20%">
                                Cliente
                            </th>
                            <th width="15%">
                                Fecha Creacion
                            </th>
                            <th width="15%">
                                Fecha Entrega
                            </th>
                            <th width="10%">
                                Tiempo Transcurrido
                            </th>
                            <th width="10%">
                                Km Recorridos
                            </th>
                            <th width="10%">
                                Estado
                            </th>
                            <th width="15%">
                                Cancelar
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END PAGE CONTENT-->
<!--Aqui termina de quitar-->


<!--Aqui quita los scripts-->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
<script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js" type="text/javascript"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/js/pedidos.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script>
    jQuery(document).ready(function () {
        Pedidos.consultar();

    });
</script>
<!--Aqui termina de quitar los scripts-->