

<div class="portlet box yellow-crusta">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Monitor
        </div>
        <div class="tools">
            <a id="mapRefresh" class="reload" data-original-title="" title="">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div id="mapMonitoreo" class="gmaps" style="height:500px;">

        </div>
    </div>
</div>


<script src="http://maps.google.com/maps/api/js?sensor=true&v=3&libraries=geometry&language=es"
        type="text/javascript"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>

<script src="/static/js/unidades.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Unidades.monitoreo();
    });
</script>

