
<!-- BEGIN LOGIN -->
<div class="content">
<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="index.html" method="post">
    <h3 class="form-title">Ingresa con tu cuenta</h3>

    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
			<span>
			Ingrese su nombre de usuario. </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Nombre de Usuario</label>

        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario"
                   name="username"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>

        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password"
                   name="password"/>
        </div>
    </div>
    <div class="form-actions">
        <label class="checkbox">
            <!--<input type="checkbox" name="remember" value="1"/> Recuerdame-->
        </label>
        <button type="submit" class="btn green pull-right">
            Login <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>

    <div class="forget-password">
        <h4>¿Olvidaste tu password?</h4>

        <p>
            Da click <a href="javascript:;" id="forget-password">
            aqui </a>
            para recuperar tu password.
        </p>
    </div>
    <div class="create-account">
        <p>
            ¿No tienes cuenta aun?&nbsp; <a href="javascript:;" id="register-btn">
            Crea una cuenta</a>
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="index.html" method="post">
    <h3>¿Olvidaste tu password?</h3>

    <p>
        Ingresa tu e-mail y tu password.
    </p>

    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-mail"
                   name="email"/>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Regresar
        </button>
        <button type="submit" class="btn green pull-right">
            Enviar <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->
<!-- BEGIN REGISTRATION FORM -->
<form class="register-form" action="index.html" method="post">
<h3>Ingresa</h3>

<p>
    Ingresa tu informacion personal:
</p>


<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Nombre Completo</label>
    <div class="row">
        <div class="col-md-12">
            <div class="input-icon">
                <i class="fa fa-font"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Nombre" name="nombre"/>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Apellidos</label>
    <div class="row">
        <div class="col-md-6">
            <div class="input-icon">
                <i class="fa fa-font"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Paterno" name="paterno"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-icon">
                <i class="fa fa-font"></i>
                <input class="form-control placeholder-no-fix" type="text" placeholder="Materno" name="materno"/>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
    <label class="control-label visible-ie8 visible-ie9">E-Mail</label>

    <div class="input-icon">
        <i class="fa fa-envelope"></i>
        <input class="form-control placeholder-no-fix" type="text" placeholder="E-mail" name="email"/>
    </div>
</div>

<p>
    Ingresa los detalles de tu cuenta:
</p>

<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Nombre de Usuario</label>

    <div class="input-icon">
        <i class="fa fa-user"></i>
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Nombre de usuario"
               name="username"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Password</label>

    <div class="input-icon">
        <i class="fa fa-lock"></i>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password"
               placeholder="Password" name="password"/>
    </div>
</div>
<div class="form-group">
    <label class="control-label visible-ie8 visible-ie9">Repite tu password</label>

    <div class="controls">
        <div class="input-icon">
            <i class="fa fa-check"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="Repite tu password" name="rpassword"/>
        </div>
    </div>
</div>
<div class="form-group">
    <label>
        <input type="checkbox" name="tnc"/> Estoy de acuerdo con los <a href="#">
        Terminos de servicio </a>
        y <a href="#">
        Politica de privacidad </a>
    </label>

    <div id="register_tnc_error">
    </div>
</div>
<div class="form-actions">
    <button id="register-back-btn" type="button" class="btn">
        <i class="m-icon-swapleft"></i> Regresar
    </button>
    <button type="submit" id="register-submit-btn" class="btn green pull-right">
        Ingresar <i class="m-icon-swapright m-icon-white"></i>
    </button>
</div>
</form>
<!-- END REGISTRATION FORM -->
</div>
<!-- END LOGIN -->

<script src="/static/js/auth.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-validation/js/localization/messages_es.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        Auth.init();
    });
</script>