<div class="row margin-bottom-40 our-clients">
    <div class="class-md-12" align="center">
        <h2 align="center">Para solicitar un servicio:</h2><br/>
        <a class="caption lft btn green slide_btn slide_item_left" href="/sesiones/ingresar">
            Inicia tu sesión!</a><br><br>
        <a class="caption lft btn green slide_btn slide_item_left" href="/usuarios/registro">
            Registrate con nostros!</a><br/>
    </div>
</div>
