<!--BEGIN MODAL PRICES-->
<div id="pricesModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-midlle">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title" id="titleModal">Paquetes</h3>
            </div>
            <div class="modal-body">
                <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                    <div class="row margin-bottom-40">
                        <!-- Pricing -->
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Begginer
                      <span>
                         Officia deserunt mollitia
                      </span>
                                    </h3>
                                    <h4><i>$</i>5<i>.49</i>
                      <span>
                         Per Month
                      </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
                                        psum olor .
                                    </p>
                                    <a href="#" class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Pro
                      <span>
                         Officia deserunt mollitia
                      </span>
                                    </h3>
                                    <h4><i>$</i>8<i>.69</i>
                      <span>
                         Per Month
                      </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
                                        psum olor .
                                    </p>
                                    <a href="#" class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pricing pricing-active hover-effect">
                                <div class="pricing-head pricing-head-active">
                                    <h3>Expert
                      <span>
                         Officia deserunt mollitia
                      </span>
                                    </h3>
                                    <h4><i>$</i>13<i>.99</i>
                      <span>
                         Per Month
                      </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
                                        psum olor .
                                    </p>
                                    <a href="#" class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Hi-Tech
                      <span>
                         Officia deserunt mollitia
                      </span>
                                    </h3>
                                    <h4><i>$</i>99<i>.00</i>
                      <span>
                         Per Month
                      </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li>
                                        <i class="fa fa-tags"></i> At vero eos
                                    </li>
                                    <li>
                                        <i class="fa fa-asterisk"></i> No Support
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> Fusce condimentum
                                    </li>
                                    <li>
                                        <i class="fa fa-star"></i> Ut non libero
                                    </li>
                                    <li>
                                        <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
                                        psum olor .
                                    </p>
                                    <a href="#" class="btn btn-primary">
                                        Sign Up <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--//End Pricing -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MODAL PRICES-->
<div class="profile-sidebar">
    <!-- PORTLET MAIN -->
    <div class="portlet light profile-sidebar-portlet">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="/static/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                $NombreCompleto
            </div>
            <div class="profile-usertitle-job">
                $Empresa
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-circle green-haze btn-sm">Contactar</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li>
                    <a href="/clientes/detalle_cuenta">
                        <i class="icon-home"></i>
                        Editar Cuenta </a>
                </li>
                <li>
                    <a id="ancPrices">
                        <i class="icon-home"></i>
                        Comprar Paquete Guias</a>
                </li>
                <li>
                    <a href="/general/ayuda">
                        <i class="icon-info"></i>
                        Ayuda </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
    <!-- END PORTLET MAIN -->
</div>
</div>
<div class="profile-content">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-paper-plane-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        $GuiasDisponibles
                    </div>
                    <div class="desc">
                        Guias Disponibles
                    </div>
                </div>
                <a class="more" href="/clientes/guias/128736">
                    Ver mas <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-motorcycle"></i>
                </div>
                <div class="details">
                    <div class="number">
                        $GuiasUtilizadas
                    </div>
                    <div class="desc">
                        Guias Utilizadas
                    </div>
                </div>
                <a class="more" href="/clientes/guiasUtilizadas/128736">
                    Ver mas<i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-road"></i>
                </div>
                <div class="details">
                    <div class="number">
                        $KmRecorridos
                    </div>
                    <div class="desc">
                        Km. Recorridos
                    </div>
                </div>
                <a class="more">
                    Ver mas<i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet box blue-madison calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Calendario
                    </div>
                </div>
                <div class="portlet-body light-grey">
                    <div id="calendarGuias">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>


<script src="/static/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="/static/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fullcalendar/lang/es.js" type="text/javascript"></script>

<script src="/static/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="/static/js/clientes.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Clientes.resumen();
    });
</script>
