<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-shopping-cart"></i>Guias Utilizadas
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover" id="dataTableGuiasUtilizadas">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="5%">

                            </th>
                            <th width="10%">
                                No Guia
                            </th>
                            <th width="20%">
                                Nombre Contacto
                            </th>
                            <th width="15%">
                                Fecha Inicio
                            </th>
                            <th width="15%">
                                Fecha Recibio
                            </th>
                            <th width="15%">
                                Fecha Entrego
                            </th>
                            <th width="10%">
                                Km. Recorridos
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END PAGE CONTENT-->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="/static/assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
<script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/global/scripts/datatable.js"></script>
<script src="/static/js/clientes.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function () {
        Clientes.consultarGuiasUtilizadas();

    });
</script>

