<div class="content-page">


<!--BEGIN FORM-->
<form action="" method="post">
<div class="row">
<div class="col-md-6">
    <div class="portlet box red ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Informacion Personal
            </div>
            <div class="tools">
                <a href="" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nombre">Nombre</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                   placeholder="Nombre" tabindex="1"  value="$nombre">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Apellidos</label>

                        <div class="col-md-9">

                            <div class="row">
                                <label class="sr-only" for="apellidoPaterno">Apellido Paterno</label>

                                <div class="col-md-6">
                                    <input id="apellidoPaterno" name="apellidoPaterno" class="form-control" type="text"
                                           placeholder="Paterno" tabindex="2" value="$apellidoPaterno"/>
                                </div>
                                <label class="sr-only" for="apellidoMaterno">Apellido Materno</label>

                                <div class="col-md-6">
                                    <input id="apellidoMaterno" name="apellidoMaterno" class="form-control" type="text"
                                           placeholder="Materno" tabindex="3" value="$apellidoMaterno"/>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="telefonoFijo">Telefono fijo</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="telefonoFijo" name="telefonoFijo"
                                   placeholder="Telefono Fijo" tabindex="4" value="$telefonoFijo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="telefonoMovil">Telefono Movil</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="telefonoMovil" name="telefonoMovil"
                                   placeholder="Telefono Movil" tabindex="5" value="$telefonoMovil">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">E-Mail</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="E-mail" tabindex="6" value="$email">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3">Password</label>

                        <div class="col-md-9">

                            <div class="row">
                                <label class="sr-only" for="password1"></label>

                                <div class="col-md-6">
                                    <input id="password1" name="password1" class="form-control" type="password"
                                           placeholder="Password" tabindex="7" value="$password"/>
                                </div>
                                <label class="sr-only" for="password2"></label>

                                <div class="col-md-6">
                                    <input id="password2" name="password2" class="form-control" type="password"
                                           placeholder="Confirmar Password" tabindex="8" value="$password"/>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="portlet box red ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Empresa
            </div>
            <div class="tools">
                <a href="" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="nombreEmpresa">Nombre</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa"
                                   placeholder="Nombre" tabindex="9" value="$nombreEmpresa">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" for="razonSocial">Razon Social</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="razonSocial" name="razonSocial"
                                   placeholder="Razon Social" tabindex="10" value="$razonSocial">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="rfc">RFC</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" id="rfc" name="rfc"
                                   placeholder="RFC" tabindex="11" value="$rfc">
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
<div class="portlet box red ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Direccion
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="esDireccionFiscal" tabindex="12" disabled="$esDireccionFiscal"> Usar esta direccion como direccion
                        fiscal
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="calle">Calle</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="calle" name="calle"
                               placeholder="Calle" tabindex="13" value="$calle">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="numero">Numero</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="numero" name="numero"
                               placeholder="Numero" tabindex="14" value="$numero">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="colonia">Colonia</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="colonia" name="colonia"
                               placeholder="Colonia" tabindex="15" value="$colonia">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="codigoPostal">Codigo Postal</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="codigoPostal" name="codigoPostal"
                               placeholder="Codigo Postal" tabindex="16" value="$codigoPostal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="municipioDelegacion">Municipio / Delegacion</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="municipioDelegacion" name="municipioDelegacion"
                               placeholder="Municipio / Delegacion" tabindex="17" value="$municipioDelegacion">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ciudad">Ciudad</label>

                    <div class="col-md-9">
                        <select class="form-control" name="ciudad" id="ciudad" tabindex="17">
                            <option value="1">Aguascalientes</option>
                            <option value="2">Pachuca</option>
                            <option value="3">Distrito Federal</option>
                            <option value="4">Oaxaca</option>
                            <option value="4">Estado de Mexico</option>
                            <option value="5">Veracruz</option>
                            <option value="6">Sinaloa</option>
                            <option value="7">Sonora</option>
                            <option value="8">Nuevo Leon</option>
                            <option value="9">Durango</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="referencia">Referencia</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="referencia" name="referencia"
                               placeholder="Referencia" tabindex="18" value="$referencia">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label" for="mapa">Mapa</label>

                    <div class="col-md-9">
                        <button id="btnDireccion" class="btn blue">Verificar Direccion</button>
                    </div>
                    <label class="col-md-3 control-label" for="mapa"></label>

                    <div class="col-md-9" id="mapa">
                        <div id="map" class="gmaps" style="height:250px;">
                        </div>
                        <span class="red">Ubicacion aproximada</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="portlet box red " id="divDireccionFiscal">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Direccion Fiscal
        </div>
        <div class="tools">
            <a href="" class="collapse">
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="calleFiscal">Calle</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="calleFiscal" name="calleFiscal"
                               placeholder="Calle" tabindex="20" value="$calleFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="numeroFiscal">Numero</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="numeroFiscal" name="numeroFiscal"
                               placeholder="Numero" tabindex="21" value="$numeroFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="coloniaFiscal">Colonia</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="coloniaFiscal" name="coloniaFiscal"
                               placeholder="Colonia" tabindex="22" value="$coloniaFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="codigoPostalFiscal">Codigo Postal</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="codigoPostalFiscal" name="codigoPostalFiscal"
                               placeholder="Codigo Postal" tabindex="23" value="$codigoPostalFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="municipioDelegacionFiscal">Municipio /
                        Delegacion</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="municipioDelegacionFiscal"
                               name="municipioDelegacionFiscal"
                               placeholder="Municipio / Delegacion" tabindex="24" value="$municipioDelegacionFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="ciudadFiscal">Ciudad</label>

                    <div class="col-md-9">
                        <select class="form-control" name="ciudadFiscal" id="ciudadFiscal" tabindex="25">
                            <option value="1">Aguascalientes</option>
                            <option value="2">Pachuca</option>
                            <option value="3">Distrito Federal</option>
                            <option value="4">Oaxaca</option>
                            <option value="4">Estado de Mexico</option>
                            <option value="5">Veracruz</option>
                            <option value="6">Sinaloa</option>
                            <option value="7">Sonora</option>
                            <option value="8">Nuevo Leon</option>
                            <option value="9">Durango</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="referenciaFiscal">Referencia</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="referenciaFiscal" name="referenciaFiscal"
                               placeholder="Referencia" tabindex="26" value="$referenciaFiscal">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" for="mapaFiscal">Mapa</label>

                    <div class="col-md-9">
                        <button id="btnDireccionFiscal" class="btn blue">Verificar Direccion</button>
                    </div>
                    <label class="col-md-3 control-label" for="mapaFiscal"></label>

                    <div class="col-md-9" id="mapaFiscal">
                        <div id="mapFiscal" class="gmaps" style="height:250px;">
                        </div>
                        <span >Ubicacion aproximada</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<div class="col-md-12">
    <div class="portlet-body form">
        <div class="form-actions right1">
            <button type="button" class="btn default">Cancelar</button>
            <button type="submit" class="btn blue">Enviar</button>
        </div>
    </div>
</div>

</div>
</form>
<!--END FORM-->
</div>


<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="/static/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>


<script type="text/javascript">
    jQuery(document).ready(function () {

        var initMap = function (idSelector, title) {
            var map = new GMaps({
                div: idSelector,
                lat: -13.004333,
                lng: -38.494333
            });
            var marker = map.addMarker({
                lat: -13.004333,
                lng: -38.494333,
                title: title
            });
            return map;
        };


        var myVariables = {
            mapFiscal: null,
            map: null,
            polygon: null
        };


        myVariables.map = initMap("#map", "");
        myVariables.mapFiscal = initMap("#mapFiscal", "");


        myVariables.polygon = myVariables.map.drawPolygon({
            paths: [],
            strokeColor: '#BBD8E9',
            strokeOpacity: 1,
            strokeWeight: 3,
            fillColor: '#BBD8E9',
            fillOpacity: 0.6
        });


        function getDireccion() {
            var calle = jQuery("#calle").val();
            var numero = jQuery("#numero").val();
            var colonia = jQuery("#colonia").val();
            var delegacion = jQuery("#municipioDelegacion").val();
            var codigoPostal = jQuery("#codigoPostal").val();
            var ciudad = jQuery("#ciudad").val();
            return "{0} {1}, Col. {2}, {3}, {4}, Ciudad {5}, Mexico".format(calle, numero, colonia, delegacion, codigoPostal, ciudad);
        }

        jQuery("#btnDireccion").click(function (event) {
            event = event || window.event;
            if (event.preventDefault) {
                event.preventDefault();
            } else {
                event.returnValue = false;
            }
            myVariables.map.removeMarkers();
            GMaps.geocode({
                address: getDireccion(),
                callback: function (results, status) {
                    if (status == 'OK') {
                        var latlng = results[0].geometry.location;
                        myVariables.map.setCenter(latlng.lat(), latlng.lng());
                        myVariables.map.addMarker({
                            lat: latlng.lat(),
                            lng: latlng.lng(),
                            draggable: false,
                            fences: [myVariables.polygon]
                        });
                    }
                }
            });
        });


        function getDireccionFiscal() {
            var calle = jQuery("#calleFiscal").val();
            var numero = jQuery("#numeroFiscal").val();
            var colonia = jQuery("#coloniaFiscal").val();
            var delegacion = jQuery("#municipioDelegacionFiscal").val();
            var codigoPostal = jQuery("#codigoPostalFiscal").val();
            var ciudad = jQuery("#ciudadFiscal").val();
            return "{0} {1} Col. {2}, {3} {4} {5} Mexico".format(calle, numero, colonia, delegacion, codigoPostal, ciudad);
        }

        jQuery("#btnDireccionFiscal").click(function (event) {
            event = event || window.event;
            if (event.preventDefault) {
                event.preventDefault();
            } else {
                event.returnValue = false;
            }
            myVariables.mapFiscal.removeMarkers();
            GMaps.geocode({
                address: getDireccionFiscal(),
                callback: function (results, status) {
                    if (status == 'OK') {
                        var latlng = results[0].geometry.location;
                        myVariables.mapFiscal.setCenter(latlng.lat(), latlng.lng());
                        myVariables.mapFiscal.addMarker({
                            lat: latlng.lat(),
                            lng: latlng.lng(),
                            draggable: false,
                            fences: [myVariables.polygon]
                        });


                    }
                }
            });

        });

        jQuery("#esDireccionFiscal").change(function (event) {
            event = event || window.event;
            var isChecked = jQuery(event.target).is(":checked");

            if (isChecked) {
                jQuery("#divDireccionFiscal").hide();
            } else {
                jQuery("#divDireccionFiscal").show();
            }

        });


    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->