    <div class="main">
      <div class="container">
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12">
            <div class="content-page">
              <div class="row">
                <div class="col-md-12">
                  <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
                </div>
                <div class="col-md-9 col-sm-9">
                  <h2>Déjanos un mensaje</h2>
                  
                  <!-- BEGIN FORM-->
                  <form action="#" role="form">
                    <div class="form-group">
                      <label for="contacts-name">Nombre</label>
                      <input type="text" class="form-control" id="contacts-name" placeholder="Tu nombre">
                    </div>
                    <div class="form-group">
                      <label for="contacts-email">Correo</label>
                      <input type="email" class="form-control" id="contacts-email" placeholder="correo@mail.com">
                    </div>
                    <div class="form-group">
                      <label for="contacts-message">Mensaje</label>
                      <textarea class="form-control" rows="5" id="contacts-message" placeholder="Escribe aquí tu mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Enviar</button>
                  </form>
                  <!-- END FORM-->
                </div>

                <div class="col-md-3 col-sm-3 sidebar2">
                  <h2>Dirección</h2>
                  <address>
                    <strong>Vial Express SA de CV</strong><br>
                      Vada 26, int 8, Rinconada del Molino<br>
                      Del. Iztapalapa, México, DF <br>
                      Telefono: 55 1234 5678 <br>
                  </address>
                  <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@vialexpress.com">info@vialexpress.com</a><br>
                  </address>
                  <ul class="social-icons margin-bottom-40">
                    <li><a href="javascript:;" data-original-title="facebook" class="facebook"></a></li>
                    <li><a href="javascript:;" data-original-title="github" class="github"></a></li>
                    <li><a href="javascript:;" data-original-title="Goole Plus" class="googleplus"></a></li>
                    <li><a href="javascript:;" data-original-title="linkedin" class="linkedin"></a></li>
                    <li><a href="javascript:;" data-original-title="rss" class="rss"></a></li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
      </div>
    </div>

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>
    <script src="/static/assets/frontend/pages/scripts/contact-us.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {


            ContactUs.init();

        });
    </script>