
    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-40">
      <div class="fullwidthbanner-container revolution-slider">
        <div class="fullwidthabnner">
          <ul id="revolutionul">
            <!-- THE FIRST SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
              <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
              <img src="/static/assets/frontend/pages/img/revolutionslider/bg1.jpg" alt="">
                            
              <div class="caption lft slide_title slide_item_left"
                data-x="30"
                data-y="105"
                data-speed="400"
                data-start="1500"
                data-easing="easeOutExpo">
                Necesitas hacer un envio?
              </div>
              <div class="caption lft slide_subtitle slide_item_left"
                data-x="30"
                data-y="180"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                Olvidate de andar en el trafico
              </div>
              <div class="caption lft slide_desc slide_item_left"
                data-x="30"
                data-y="220"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                Somos exactamente lo que necesitas<br> Vialexpress es la mejor solución en paquetería
                  <br> en el área metropolitana <br>
              </div>
              <a class="caption lft btn green slide_btn slide_item_left" href="/pedidos/agregar"
                data-x="30"
                data-y="310"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                Solicita tu servicio ahora mismo!
              </a>                        
              <div class="caption lfb"
                data-x="640" 
                data-y="55" 
                data-speed="700" 
                data-start="1000" 
                data-easing="easeOutExpo">
                <img src="/static/assets/frontend/pages/img/revolutionslider/man-winner.png" alt="Image 1">
              </div>
            </li>
            <!-- THE THIRD SLIDE -->
            <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/static/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
              <img src="/static/assets/frontend/pages/img/revolutionslider/bg3.jpg" alt="">
              <div class="caption lfl slide_item_left" 
                data-x="30" 
                data-y="95" 
                data-speed="400" 
                data-start="1500" 
                data-easing="easeOutBack">
                <iframe src="https://www.youtube.com/embed/7np8hN7wVww" width="420" height="240" style="border:0" allowFullScreen></iframe>
              </div>
              <div class="caption lfr slide_title"
                data-x="470"
                data-y="100"
                data-speed="400"
                data-start="2000"
                data-easing="easeOutExpo">
                Conoce nuestros servicios
              </div>
              <div class="caption lfr slide_subtitle"
                data-x="470"
                data-y="170"
                data-speed="400"
                data-start="2500"
                data-easing="easeOutExpo">
                Entregas en 90 minutos o menos
              </div>
              <div class="caption lfr slide_desc"
                data-x="470"
                data-y="220"
                data-speed="400"
                data-start="3000"
                data-easing="easeOutExpo">
                Contamos con el mejor equipo de trabajo porque para nosotros<br> lo mas importante siempre eres tu
              </div>
                 <a class="caption lfr btn yellow slide_btn" href="/pedidos/agregar"
                    data-x="470"
                    data-y="280"
                     data-speed="400"
                     data-start="3500"
                     data-easing="easeOutExpo">
                     Solicita ya tu servicio!
                </a>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
</div>
    <!-- END SLIDER -->

    <div class="main">
      <div class="container">
        <!-- BEGIN SERVICE BOX -->   
        <div class="row service-box margin-bottom-40">
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-location-arrow blue"></i></em>
              <span>Registrate y comienza ya</span>
            </div>
            <p>Lo único que tienes que hacer registrarte para ser parte de esta nueva experiencia en mensajeria</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-check red"></i></em>
              <span>Selecciona un origen</span>
            </div>
            <p>Dinos a donde tenemos que pasar a recoger lo que necesites que entreguemos, con quien y nosotros nos hacemos cargo, ademas te mantendremos informado en todo momento</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-compress green"></i></em>
              <span>Selecciona un destino</span>
            </div>
            <p>Una vez hayamos recogido el paquete que quieres que entreguemos, dinos en donde y con quien lo entregamos, recuerda en menos de 90 minutos lo hacemos por ti</p>
          </div>
        </div>
        <!-- END SERVICE BOX -->

        <!-- BEGIN BLOCKQUOTE BLOCK -->   
        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-9">
            <span>El mejor equipo &amp; El mejor servicio &amp; y lo mas importante, tu</span>
          </div>
          <div class="col-md-3 text-right">
            <a class="btn-transparent" href="/pedidos/agregar/"><i class="fa fa-rocket margin-right-10"></i>Solicita tu servicio</a>
          </div>
        </div>
        <!-- END BLOCKQUOTE BLOCK -->

        <!--&lt;!&ndash; BEGIN RECENT WORKS &ndash;&gt;-->
        <!--<div class="row recent-work margin-bottom-40">-->
          <!--<div class="col-md-3">-->
            <!--<h2><a href="portfolio.html">Recent Works</a></h2>-->
            <!--<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde voluptatem. Sed unde omnis iste natus error sit voluptatem.</p>-->
          <!--</div>-->
          <!--<div class="col-md-9">-->
            <!--<div class="owl-carousel owl-carousel3">-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img1.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img2.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img5.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img6.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div class="recent-work-item">-->
                <!--<em>-->
                  <!--<img src="/static/assets/frontend/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">-->
                  <!--<a href="portfolio-item.html"><i class="fa fa-link"></i></a>-->
                  <!--<a href="/static/assets/frontend/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>-->
                <!--</em>-->
                <!--<a class="recent-work-description" href="javascript:;">-->
                  <!--<strong>Amazing Project</strong>-->
                  <!--<b>Agenda corp.</b>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>       -->
          <!--</div>-->
        <!--</div>   -->
        <!--&lt;!&ndash; END RECENT WORKS &ndash;&gt;-->

        <!--&lt;!&ndash; BEGIN TABS AND TESTIMONIALS &ndash;&gt;-->
        <!--<div class="row mix-block margin-bottom-40">-->
          <!--&lt;!&ndash; TABS &ndash;&gt;-->
          <!--<div class="col-md-7 tab-style-1">-->
            <!--<ul class="nav nav-tabs">-->
              <!--<li class="active"><a href="#tab-1" data-toggle="tab">Multipurpose</a></li>-->
              <!--<li><a href="#tab-2" data-toggle="tab">Documented</a></li>-->
              <!--<li><a href="#tab-3" data-toggle="tab">Responsive</a></li>-->
              <!--<li><a href="#tab-4" data-toggle="tab">Clean & Fresh</a></li>-->
            <!--</ul>-->
            <!--<div class="tab-content">-->
              <!--<div class="tab-pane row fade in active" id="tab-1">-->
                <!--<div class="col-md-3 col-sm-3">-->
                  <!--<a href="assets/temp/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">-->
                    <!--<img class="img-responsive" src="/static/assets/frontend/pages/img/photos/img7.jpg" alt="">-->
                  <!--</a>-->
                <!--</div>-->
                <!--<div class="col-md-9 col-sm-9">-->
                  <!--<p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>-->
                  <!--<p><a class="more" href="javascript:;">Read more <i class="icon-angle-right"></i></a></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="tab-pane row fade" id="tab-2">-->
                <!--<div class="col-md-9 col-sm-9">-->
                  <!--<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-3">-->
                  <!--<a href="assets/temp/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">-->
                    <!--<img class="img-responsive" src="/static/assets/frontend/pages/img/photos/img10.jpg" alt="">-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="tab-pane fade" id="tab-3">-->
                <!--<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>-->
              <!--</div>-->
              <!--<div class="tab-pane fade" id="tab-4">-->
                <!--<p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; END TABS &ndash;&gt;-->
        
          <!--&lt;!&ndash; TESTIMONIALS &ndash;&gt;-->
          <!--<div class="col-md-12 testimonials-v1">-->
            <!--<div id="myCarousel" class="carousel slide">-->
              <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
              <!--<div class="carousel-inner">-->
                <!--<div class="active item">-->
                  <!--<blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>-->
                  <!--<div class="carousel-info">-->
                    <!--<img class="pull-left" src="/static/assets/frontend/pages/img/people/img1-small.jpg" alt="">-->
                    <!--<div class="pull-left">-->
                      <!--<span class="testimonials-name">Lina Mars</span>-->
                      <!--<span class="testimonials-post">Commercial Director</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>-->
                  <!--<div class="carousel-info">-->
                    <!--<img class="pull-left" src="/static/assets/frontend/pages/img/people/img5-small.jpg" alt="">-->
                    <!--<div class="pull-left">-->
                      <!--<span class="testimonials-name">Kate Ford</span>-->
                      <!--<span class="testimonials-post">Commercial Director</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                  <!--<blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>-->
                  <!--<div class="carousel-info">-->
                    <!--<img class="pull-left" src="/static/assets/frontend/pages/img/people/img2-small.jpg" alt="">-->
                    <!--<div class="pull-left">-->
                      <!--<span class="testimonials-name">Jake Witson</span>-->
                      <!--<span class="testimonials-post">Commercial Director</span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--&lt;!&ndash; Carousel nav &ndash;&gt;-->
              <!--<a class="left-btn" href="#myCarousel" data-slide="prev"></a>-->
              <!--<a class="right-btn" href="#myCarousel" data-slide="next"></a>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; END TESTIMONIALS &ndash;&gt;-->
        <!--</div>                -->
        <!--&lt;!&ndash; END TABS AND TESTIMONIALS &ndash;&gt;-->

        <!--&lt;!&ndash; BEGIN STEPS &ndash;&gt;-->
        <!--<div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">-->
          <!--<div class="col-md-4 col-sm-4 front-step-col">-->
            <!--<div class="front-step front-step1">-->
              <!--<h2>Goal definition</h2>-->
              <!--<p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 front-step-col">-->
            <!--<div class="front-step front-step2">-->
              <!--<h2>Analyse</h2>-->
              <!--<p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 front-step-col">-->
            <!--<div class="front-step front-step3">-->
              <!--<h2>Implementation</h2>-->
              <!--<p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; END STEPS &ndash;&gt;-->

        <!-- BEGIN CLIENTS -->
        <div class="row margin-bottom-40 our-clients">
          <div class="col-md-3">
            <h2><a href="javascript:;">Nuestros clientes</a></h2>
            <p>Ellos confian en nosotros.</p>
          </div>
          <div class="col-md-9">
            <div class="owl-carousel owl-carousel6-brands">
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_1_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_1.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="/static/assets/frontend/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
                  <img src="/static/assets/frontend/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
                </a>
              </div>                  
            </div>
          </div>          
        </div>
        <!-- END CLIENTS -->
      </div>
    </div>

    
    <!-- BEGIN RevolutionSlider -->  
    <script src="/static/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script> 
    <script src="/static/assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script> 
    <script src="/static/assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
    <!-- END RevolutionSlider -->


    <script type="text/javascript">
        jQuery(document).ready(function() {
            RevosliderInit.initRevoSlider();
            Layout.initOWL();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->