
<link href="/static/assets/admin/pages/css/invoice.css" rel="stylesheet" type="text/css"/>
            <!-- BEGIN PAGE CONTENT-->
            <div class="invoice">
                <div class="row invoice-logo">
                    <div class="col-xs-6 invoice-logo-space">
                        <h3>Hola $nombre $apellido:</h3>
                        <ul class="list-unstyled">
                            <li>
                                Hemos recibido tu pedido
                            </li>
                            <li>
                                en breve te enviaremos un correo electronico
                            </li>
                            <li>
                                con los datos del mensajero que te asignaremos
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <p>
                             Tu guia es la: #$guia/ fecha: $fecha <span class="muted">
                            Gracias por confiar en nosotros </span>
                        </p>
                    </div>
                </div>
                <hr/>
                <h2 class="form-section" align="center">Detalles de tu pedido:</h2>
                <div class="row">
                    <div class="col-xs-6" align="left">
                        <h3>Detalles del remitente:</h3>
                        <ul class="list-unstyled">
                            <li>
                                 <strong>Nombre del remitente:</strong> $nombre_origen
                            </li>
                            <li>
                                 <strong>Dirección del remitente:</strong> $direccion_mapa_origen
                            </li>
                            <li>
                                 <strong>Referencia del remitente:</strong> $referencia_origen
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6" align="right">
                        <h3>Detalles del destinatario:</h3>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Nombre del destinatario:</strong> $nombre_destino
                            </li>
                            <li>
                                <strong>Dirección del destinatario:</strong> $direccion_mapa_destino
                            </li>
                            <li>
                                <strong>Referencia del destinatario:</strong> $referencia_destino
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" align="center">

                        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
                        <script>
                            var directionsDisplay;
                            var directionsService = new google.maps.DirectionsService();
                            var map;

                            function inicio() {
                                directionsDisplay = new google.maps.DirectionsRenderer();
                                var df = new google.maps.LatLng(19.428943, -99.128506);

                                var mapOptions = {
                                    zoom:10,
                                    center: df
                                };
                                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                                directionsDisplay.setMap(map);
                            }

                            function calcRoute() {
                                var request = {
                                    origin:"$direccion_mapa_origen",
                                    destination:"$direccion_mapa_destino",
                                    travelMode: google.maps.TravelMode.DRIVING
                                };
                                directionsService.route(request, function(response, status) {
                                    if (status == google.maps.DirectionsStatus.OK) {
                                        directionsDisplay.setDirections(response);
                                    }
                                });
                            }

                            google.maps.event.addDomListener(window, 'load', inicio);
                            google.maps.event.addDomListener(window, 'load', calcRoute);

                        </script>

                        <div id="map-canvas" class="col-xs-12" align="center" style="height:500px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <!--<div class="well">-->
                            <!--<address>-->
                            <!--<strong>Loop, Inc.</strong><br/>-->
                            <!--795 Park Ave, Suite 120<br/>-->
                            <!--San Francisco, CA 94107<br/>-->
                            <!--<abbr title="Phone">P:</abbr> (234) 145-1810 </address>-->
                            <!--<address>-->
                            <!--<strong>Full Name</strong><br/>-->
                            <!--<a href="mailto:#">-->
                            <!--first.last@email.com </a>-->
                            <!--</address>-->
                        <!--</div>-->
                    </div>
                    <div class="col-xs-8 invoice-block">
                        <ul class="list-unstyled amounts">
                            <li>
                                <strong>Distancia recorrida:</strong> $totalkm km
                            </li>
                            <li>
                                <strong>Subtotal: </strong>$ $subtotal
                            </li>
                            <li>
                                <strong>IVA: </strong>$ $iva
                            </li>
                            <li>
                                <strong>Total: </strong>$ $total
                            </li>
                        </ul>
                        <br/>
                        <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                        Imprimir <i class="fa fa-print"></i>
                        </a>
                        <a class="btn btn-lg green hidden-print margin-bottom-5">
                        Solicitar factura <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->