<!--BEGIN FORM-->
<form action="/pedidos/guardar" method="post" id="pedidosAgregar">
<div class="row">
    <div class="col-md-6">
        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Información Contacto
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="nombre">Nombre</label>

                            <div class="col-md-9">
                                <input type="text"  readonly class="form-control" id="nombre" name="nombre"
                                       placeholder="Nombre" value="$nombre">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="apellidos">Apellidos</label>

                            <div class="col-md-9">
                                <input type="text"  readonly class="form-control" id="apellidos" name="apellidos"
                                   placeholder="Apellidos" value="$apellidos">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="telefono">Telefono Celular</label>

                            <div class="col-md-9">
                                <input type="text" readonly class="form-control" id="telefono" name="telefono"
                                       placeholder="Telefono Celular" value="$telefono">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">E-Mail</label>

                            <div class="col-md-9">
                                <input type="text" readonly class="form-control" id="email" name="email"
                                       placeholder="E-mail" value="$email">
                            </div>
                        </div>

                        <input type="hidden" id="banderazo" name="banderazo" value="40"/>
                        <input type="hidden" id="tarifa" name="tarifa" value="3.5"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="dashboard-stat red-intense big-status">
                     <div class="visual big-visual">
                         <i class="fa fa-motorcycle fa-5x"></i>
                     </div>
                     <div class="details">
                         <div class="number" id="divKmRuta">
                             0
                         </div>
                         <input type="hidden" id="kmTotalesString" name="kmTotalesString">
                         <div class="desc">
                             Km.
                         </div>
                         <div class="number" id="divAmountTotal">
                             $
                         </div>
                         <input type="hidden" id="amountTotal" name="amountTotal">
                         <div class="desc">
                             MXN
                         </div>
                     </div>
                     <div class="buttons-stats">
                         <div class="profile-userbuttons">
                             <button type="submit" class="btn btn-default green-haze btn-sm">Enviar</button>
                             <button type="button" class="btn btn-default btn-sm">Cancelar</button>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Direccion Origen
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="nombreRemitente">Persona de Contacto</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="nombreRemitente" name="nombreRemitente"
                                       placeholder="Dinos a quien vamos a contactar" value="$nombreRemitente">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="direccionOrigen">Buscar</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="direccionOrigen" name="direccionOrigen"
                                       placeholder="Ingrese una direccion para buscar">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="mapaOrigen">Mapa</label>

                            <div class="col-md-9">
                                <button id="btnDireccionOrigen" class="btn blue">Verificar Direccion</button>
                            </div>
                            <label class="col-md-3 control-label" for="mapaOrigen"></label>

                            <div class="col-md-9" id="mapaOrigen">
                                <div id="mapOrigen" class="gmaps margin-bottom-40" style="height:300px;">
                                </div>
                                <span class="help-block">Para mayor precision en su busqueda, arrastre el marcador en la direccion idonea</span>
                            </div>

                            <input type="hidden" id="latitudOrigen" name="latitudOrigen">
                            <input type="hidden" id="longitudOrigen" name="longitudOrigen">
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="direccionMapaOrigen">Direccion Origen</label>

                            <div class="col-md-9">
                                <textarea type="text" class="form-control" id="direccionMapaOrigen"
                                       name="direccionMapaOrigen" readonly="readonly" form="pedidosAgregar"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="referenciaOrigen">Referencia</label>

                            <div class="col-md-9">
                                <textarea class="form-control" id="referenciaOrigen" name="referenciaOrigen" rows="4"
                                          placeholder="Dejanos algun dato que nos ayude como: entre que calles el telefono de la persona de contacto, algun establecimiento etc."></textarea>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Direccion Destino
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="nombreDestino">Persona que Recibe</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="nombreDestino" name="nombreDestino"
                                       placeholder="Dinos a quien vamos a entregar tu servicio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="direccionDestino">Buscar</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="direccionDestino" name="direccionDestino"
                                       placeholder="Ingrese una direccion para buscar">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="mapaDestino">Mapa</label>

                            <div class="col-md-9">
                                <button id="btnDireccionDestino" class="btn blue">Verificar Direccion</button>
                            </div>
                            <label class="col-md-3 control-label" for="mapaDestino"></label>

                            <div class="col-md-9" id="mapaDestino">
                                <div id="mapDestino" class="gmaps margin-bottom-40" style="height:300px;">
                                </div>
                                <span class="help-block">Para mayor precision en su busqueda, arrastre el marcador en la direccion idonea</span>
                            </div>

                            <input type="hidden" id="latitudDestino" name="latitudDestino">
                            <input type="hidden" id="longitudDestino" name="longitudDestino">
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="direccionMapaDestino">Direccion Destino</label>

                            <div class="col-md-9">
                                <textarea type="text" class="form-control" id="direccionMapaDestino"
                                       name="direccionMapaDestino" readonly="readonly"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="referenciaDestino">Referencia</label>

                            <div class="col-md-9">
                                <textarea class="form-control" id="referenciaDestino" name="referenciaDestino" rows="4"
                                          placeholder="Cuentanos algo que nos ayude a que la entrega sea en tiempo y forma pro ejemplo el telefono de la persona de contacto, algun establecimiento cerca, color de la fachada etc."></textarea>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
</form>
<!--END FORM-->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="/static/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="/static/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>


<script src="http://maps.google.com/maps/api/js?sensor=true&v=3&libraries=geometry&language=es" type="text/javascript"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>

<script src="/static/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static/js/pedidos.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initUniform();
        Pedidos.agregar();

    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
