
<!--BEGIN FORM-->
<form action="/pedidos/guardar" method="POST">
<div class="row">
    <div class="col-md-6">
        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Información Contacto
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="numeroGuia">Numero de Guia</label>

                            <div class="col-md-9">
                                <input type="text" readonly class="form-control" id="numeroGuia" name="numeroGuia">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="nombre">Nombre</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                       placeholder="Nombre" value="$nombre">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Apellidos</label>

                            <div class="col-md-9">

                                <div class="row">
                                    <label class="sr-only" for="apellidoPaterno">Apellido Paterno</label>

                                    <div class="col-md-6">
                                        <input id="apellidoPaterno" name="apellidoPaterno" class="form-control"
                                               type="text"
                                               placeholder="Paterno" value="$apellidoPaterno">
                                    </div>
                                    <label class="sr-only" for="apellidoMaterno">Apellido Materno</label>

                                    <div class="col-md-6">
                                        <input id="apellidoMaterno" name="apellidoMaterno" class="form-control"
                                               type="text"
                                               placeholder="Materno" value="$apellidoMaterno">
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="telefonoFijo">Telefono fijo</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="telefonoFijo" name="telefonoFijo"
                                       placeholder="Telefono Fijo" value="$telefonoFijo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="telefonoMovil">Telefono Movil</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="telefonoMovil" name="telefonoMovil"
                                       placeholder="Telefono Movil" value="$telefonoMovil">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">E-Mail</label>

                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email" name="email"
                                       placeholder="E-mail" value="$email">
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="portlet box yellow ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i> Actividad Paquete
                </div>
                <div class="tools">
                    <a href="" class="collapse">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-horizontal" role="form">
                    <div class="form-body">
                           <div id="mapRastreo" class="gmaps" style="height:295px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box yellow">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i> Historico Actividades
                    </div>
                    <div class="tools">
                        <a href="" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="dtActivities">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="5%">
                                     Ubicacion (En Mapa)
                                </th>
                                <th width="25%">
                                    Mensaje
                                </th>
                                <th width="20%">
                                    Fecha y Hora
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>
<!--END FORM-->

<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="/static/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<!-- pop up -->
<script src="/static/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

<script type="text/javascript" src="/static/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
<script src="http://cdn.datatables.net/plug-ins/3cfcc339e89/sorting/datetime-moment.js" type="text/javascript"></script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=true&v=3&libraries=geometry&language=es"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>


<script src="/static/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/static/js/pedidos.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.init();
        Layout.initUniform();
        Pedidos.editar();
    });
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->
