    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix"><a href="/sesiones/ingresar"><i class="fa fa-angle-right"></i>Iniciar sesión</a></li>
                <li class="list-group-item clearfix"><a href="/usuarios/registro"><i class="fa fa-angle-right"></i>Registrate</a></li>
                <li class="list-group-item clearfix"><a href="/usuarios/recuperar_contrasena/"><i class="fa fa-angle-right"></i> Reestablecer contraseña</a></li>
                <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Mi cuenta</a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>Olvidaste tu contraseña?</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <form class="form-horizontal form-without-legend" role="form">                    
                    <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Correo</label>
                      <div class="col-lg-8">
                        <input type="text" class="form-control" id="email" placeholder="correo@email.com">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                        <button type="submit" class="btn btn-primary">Reenviar</button>
                      </div>
                    </div>
                  </form>
                </div>
                  <div class="col-md-4 col-sm-4 pull-right">
                      <div class="form-info">
                          <h2><em>Aviso</em> importante</h2>
                          <p>Al usted ingresar a nuestro sistema esta de acuerdo con nuestras politicas de privacidad.</p>

                          <button type="button" class="btn btn-default">Leer más</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>