    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="/sesiones/ingresar"><i class="fa fa-angle-right"></i>Iniciar sesión</a></li>
                    <li class="list-group-item clearfix"><a href="/usuarios/registro"><i class="fa fa-angle-right"></i>Registrate</a></li>
                    <li class="list-group-item clearfix"><a href="/usuarios/recuperar_contrasena/"><i class="fa fa-angle-right"></i> Reestablecer contraseña</a></li>
                    <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Mi cuenta</a></li>
                </ul>
            </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>Registrate en dos simples pasos</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <form class="form-horizontal" role="form" action="/usuarios/guardar/" method="post" >
                    <fieldset>
                      <legend>Información personal</legend>
                      <div class="form-group">
                        <label for="firstname" class="col-lg-4 control-label">Nombre <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" id="firstname" class="form-control text-uppercase" name="nombre" placeholder="Mi nombre" value="$nombre">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="lastname" class="col-lg-4 control-label">Apellidos <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <input type="text" id="lastname" class="form-control text-uppercase" name="apellidos" placeholder="Mis apellidos" value="$apellidos">
                        </div>
                      </div>
                      <div class="form-group $err_telefono">
                          <label for="telefono" class="col-lg-4 control-label">Telefono <span class="require">*</span></label>
                          <div class="col-lg-8">
                              <div class="input-icon right">
                                  <i class="$err_icon_telefono"
                                     data-original-title="Campo obligatorio, de 8 a 10 números, sin espacios ni guiones"></i>
                              <input type="text" id="telefono" class="form-control" name="telefono" placeholder="5512345678" value="$telefono">
                              </div>
                          </div>
                      </div>
                      <div class="form-group $err_email">
                        <label for="email" class="col-lg-4 control-label">Correo <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <div class="input-icon right">
                                <i class="$err_icon_email"
                                   $leyenda="El formato de correo no es valido"
                                   $duplicado="Este correo ya existe, recupera tu contraseña"></i>
                          <input type="text" id="email" class="form-control" name="email" placeholder="usuario@email.com" value="$email">
                            </div>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <legend>Tu contraseña</legend>
                      <div class="form-group $err_password">
                        <label for="password" class="col-lg-4 control-label">Contraseña <span class="require">*</span></label>
                        <div class="col-lg-8">
                          <div class="input-icon right">
                              <i class="$err_icon_password"
                                 $passwordmenora6="La contraseña no puede ser menos a 6 caracteres"
                                 $passwornocoincide="La contraseña no coincide, verifica los campos"></i>
                          <input type="password" id="password" class="form-control" name="password1" value="$password1" value="$password1">
                          </div>
                        </div>
                      </div>
                      <div class="form-group $err_password">
                        <label for="confirm-password" class="col-lg-4 control-label">Confirmar contraseña <span class="require">*</span></label>
                        <div class="col-lg-8">
                            <div class="input-icon right">
                                <i class="$err_icon_password"
                                   $passwordmenora6="La contraseña no puede ser menos a 6 caracteres"
                                   $passwornocoincide="La contraseña no coincide, verifica los campos"></i>
                          <input type="password" id="confirm-password" class="form-control" name="password2" value="$password2" value="password2">
                            </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">                        
                        <button type="submit" class="btn btn-primary">Crear cuenta</button>
                      </div>
                    </div>
                  </form>
                </div>
                  <div class="col-md-4 col-sm-4 pull-right">
                      <div class="form-info">
                          <h2><em>Aviso</em> importante</h2>
                          <p>Al usted ingresar a nuestro sistema esta de acuerdo con nuestras politicas de privacidad.
                              Somos una empresa que proporciona servicio esperamos sea de su agrado la estancia con nosotros.<br/>
                          </p>

                          <button type="button" class="btn btn-default">Leer más</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
