
<div id="map-canvas" style="height: 400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true&v=3&libraries=geometry&language=es"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
<script src="/static/assets/global/plugins/gmaps/gmaps.js" type="text/javascript"></script>



<script type="text/javascript">
    var map;

    var initMap = function (idSelector, title) {
        map = new GMaps({
            div: idSelector,
            lat: 41.850033,
            lng: -87.6500523
        });
        return map;
    };

    var optionsRoute = {
        origin: [40.714231, -74.009016],
        destination: [40.725344, -73.986955],
        travelMode: 'driving',
        strokeColor: '#131540',
        strokeOpacity: 0.6,
        waypoints: [{
            stopover: false,
            location: new google.maps.LatLng(40.723071, -73.988186)
        }],
        strokeWeight: 7
    };

    map = initMap("#map-canvas");

    map.drawRoute(optionsRoute);
    var destinationMarker = new MarkerWithLabel({
        position: new google.maps.LatLng(40.723071, -73.989186),
        icon: ' ',
        draggable: true,
        raiseOnDrag: true,
        labelContent: '<i class="fa fa-motorcycle fa-4x" style="color:#E04F57;"></i>',
        labelAnchor: new google.maps.Point(20, 10),
        labelClass: "labels"
    });
    destinationMarker.setMap(map.map);
    map.addMarker({
        lat: 40.725344,
        lng: -73.986955
    });
    map.setCenter(40.725344,-73.986955)


    var marker = new MarkerWithLabel({
        position: new google.maps.LatLng(41.850033,-87.6500523),
        //  icon: ' ',
        labelContent: "$425K",
        labelAnchor: new google.maps.Point(22, 0),
        labelClass: "labels", // the CSS class for the label
        labelStyle: {opacity: 0.75},
        map: map.map
    });

    marker.setMap(map.map);
</script>

